<style> h1 {
    text-align:center;
    }
    figure {
        text-align:center;
    }
    nav {
        text-align:right;
    }
    h2 {
        text-align:center;
        color:skyblue;
    }
    article {
        text-align:center;
    }
    footer {
        text-align:center;
    }
    </style>
