 h1 {
    text-align:center;
    }
    figure {
        text-align:center;
    }
    nav {
        text-align:right;
    }
    h2 {
        text-align:center;
        color:skyblue;
    }
    article {
        text-align:center;
    }
    footer {
        text-align:center;
    }

header {
    display:flex;
    justify-content:space-between;
}

nav {
    display:flex;
    gap:1em;
}

