body{
    background-color:pink;
}

#time{
    background-color:lightblue;
    width:300px;
    border-radius:50px;
    text-align:center;
}

#day{
    background-color:yellow;
    width:300px;
    border-radius:50px;
    text-align:center;
}

#friday{
    background-color:hotpink;
    width:300px;
    border-radius:50px;
    text-align:center;
}
