/*Element Selector*/
h1 {
    text-transform:uppercase;
    color: saddlebrown;
}

/*ID Selector*/
#status{
    font-family: sans-serif;
}

img {
    width:500px;
}

/*Class Selector*/
.standout-box{
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
}
