.r {
    background-color:black;
    color: white;
    left: 50px;
}
.e {
    background-color:black;
    color: white;
    left: 50px;
}
.n {
    background-color:black;
    color: white;

}
.a {
    background-color:black;
    color: white;

}
.t {
    background-color:black;
    color: white;

}
